<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CVSUGADEntities" connectionString="metadata=res://*/Models.CVSUGADModel.csdl|res://*/Models.CVSUGADModel.ssdl|res://*/Models.CVSUGADModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=CVSUGAD;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>