*
{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: 'Open Sans Regular';
	color: #54667a;
}

@font-face {
    font-family: 'Open Sans Regular';
	src: url('../Fonts/OpenSans/Regular/OpenSans-Regular.eot');
    src: url('../Fonts/OpenSans/Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/OpenSans/Regular/OpenSans-Regular.woff') format('woff'),
         url('../Fonts/OpenSans/Regular/OpenSans-Regular.ttf') format('truetype'),
         url('../Fonts/OpenSans/Regular/OpenSans-Regular.svg#sgl') format('svg');
}


@font-face {
    font-family: 'Open Sans ExtraBold';
	src: url('../Fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.eot');
    src: url('../Fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.woff') format('woff'),
         url('../Fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.ttf') format('truetype'),
         url('../Fonts/OpenSans/ExtraBold/OpenSans-ExtraBold.svg#sgl') format('svg');
}

.master
{
	display: inline-flex;
	width: 100%;
	vertical-align: top;
	height: 100vh;
}

.master-sidebar
{
	width: 240px;
	height: 100%;
	-webkit-box-shadow: 2px 0px 5px 0px rgba(100,100,100,0.1);
	-moz-box-shadow: 2px 0px 5px 0px rgba(100,100,100,0.1);
	box-shadow: 2px 0px 5px 0px rgba(100,100,100,0.1);
	box-shadow: 2px 0px 5px 0px rgba(100,100,100,0.1);
}

.master-body
{
	width: calc(100% - 240px);
}

.master-body-header 
{
	height: 70px;
	background: #26a65b;
	background: -moz-linear-gradient(left, #26a65b 0%, #51d487 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#26a65b), color-stop(100%,#51d487));
	background: -webkit-linear-gradient(left, #26a65b 0%, #51d487 100%);
	background: -o-linear-gradient(left, #26a65b 0%, #51d487 100%);
	background: -ms-linear-gradient(left, #26a65b 0%, #51d487 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26a65b', endColorstr='#51d487',GradientType=1 );
	-ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26a65b', endColorstr='#51d487',GradientType=1 );
	background: linear-gradient(left, #26a65b 0%, #51d487 100%);
}

.master-body-content
{
	height: calc(100vh - 70px);
	background-color: #f2f7f8;
	padding: 20px;
	overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

.master-sidebar-title
{
	padding: 20px;
	padding-top: 10px;
}

.master-sidebar-title > img
{
	width: 35px;
	margin-top: 10px;
}

.master-sidebar-title > p
{
	display: inline-block;
	font-size: 20px;
	font-family: 'Open Sans ExtraBold';
	color: #26a65b;
	width: 160px;
	vertical-align: top;
	padding-left: 10px;
	margin-bottom: 0px;
}

.master-sidebar-account
{
	padding-top: 18px;
	text-align: center;
	height: 100px;
}

.master-sidebar-picture
{
	width: 50px;
	border-radius: 100%;
	margin: 0 auto;
}

.master-sidebar-picture > img
{
	width: 100%;
	border-radius: 100%;
}

.master-sidebar-picture::before
{
	-webkit-animation: 2.5s blow 0s linear infinite;
	animation: 2.5s blow 0s linear infinite;
	position: absolute;
	content: '';
	width: 50px;
	height: 50px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 0;
}

.master-sidebar-account > p
{
	width: 200px;
	margin: 0 auto;
	cursor: pointer;
}

.master-sidebar-account > p > span
{
	display: inline-block;
	max-width: 180px;
	vertical-align: top;
}

.master-sidebar-account > p > label
{
	display: inline-block;
	margin-left: 5px;
	vertical-align: top;
	cursor: pointer;
}

.master-sidebar-account-menu
{
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 3px;
	width: 180px;
	margin: 0 auto;
	text-align: left;
	margin-top: -28px;
	background-color: #FFFFFF;
	position: relative;
	display: none
}

.master-sidebar-account-menu > a
{
	display: block;
	padding: 15px;
	cursor: pointer;
}

.master-sidebar-account-menu > a:hover
{
	background-color: #f8f9fa;
}

.master-sidebar-account-menu > a > p
{
	display: inline-block;
	padding-left: 5px;
}

.master-sidebar-menuitem
{
	cursor: pointer;
}

.master-sidebar-menuitem > p
{
	height: 60px;
	padding: 17px;
	margin-bottom: 0px;
}

.master-sidebar-menuitem:hover > p
{
	border-left: 3px solid #26a65b;
	padding-left: 14px;
}

.master-sidebar-menuitem:hover > p > *:not(:last-child)
{
	color: #51d487;
}

.master-sidebar-menuitem > p > label
{
	margin-right: 10px;
	cursor: pointer;
}

.master-sidebar-menuitem > p > span
{
	font-size: 15px;
}

.master-sidebar-menuitem > p > i
{
	font-size: 10px;
	float: right;
	margin-top: 6px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.master-sidebar-menuitem:hover > p > i
{
	transform: rotate(-90deg);
}

.master-sidebar-menuitem > div
{
	height: auto;
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.master-sidebar-menuitem:hover > div
{
	max-height: 1000px;
}

.master-sidebar-menuitem > div > a
{
	display: block;
	padding: 10px;
	font-size: 15px;
	padding-left: 45px;
	color: #90a4ae;
	text-decoration: none;
}

.master-sidebar-menuitem > div > a:hover
{
	color: #51d487;
}

.master-alert
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 50;
	display: none;
}

.master-alert > div
{
	width: 500px;
	min-height: 350px;
	background-color: #FFFFFF;
	margin: auto;
	margin-top: calc((100vh - 350px)/2);
	border-radius: 5px;
	padding: 20px;
	text-align: center;
}

.master-alert > div > i
{
	font-size: 100px;
	margin-top: 20px;
	color: #51d487;
}

.master-alert > div > p
{
	font-family: 'Open Sans ExtraBold';
	font-size: 30px;
	margin-top: 30px;
}

.master-alert > div > span
{
	font-size: 18px;
	display: block;
	height: 70px;
}

.master-alert > div > a
{
	color: #FFFFFF;
	font-size: 18px;
	border: none;
	padding: 12px;
	padding-left: 32px;
	padding-right: 32px;
	cursor: pointer;
	border-radius: 5px;
	outline: none;
	text-decoration: none;
}

.master-alert > div > a:hover
{
	filter: brightness(90%);
}

.form-modal-overlay
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 10;
	display: none;
	left: 0;
	top: 0;
}

.archive-alert
{
	width: 500px;
	min-height: 350px;
	background-color: #FFFFFF;
	margin: auto;
	margin-top: calc((100vh - 350px)/2);
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	display: none;
}

.archive-alert > i
{
	font-size: 100px;
	color: #facea8;
	display: block;
	margin: 30px 0px;
}

.archive-alert > p
{
	font-size: 20px;
	margin-bottom: 0px;
}

.archive-alert > span
{
	font-size: 20px;
	display: block;
	padding-bottom: 20px;
}

.archive-alert > input[type=submit]
{
	font-size: 20px;
	margin: 0px 5px;
	width: 100px;
}

.archive-alert > button
{
	font-size: 20px;
	margin: 0px 5px;
	width: 100px;
}

.retrieve-alert
{
	width: 500px;
	min-height: 350px;
	background-color: #FFFFFF;
	margin: auto;
	margin-top: calc((100vh - 350px)/2);
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	display: none;
}

.retrieve-alert > i
{
	font-size: 100px;
	color: #facea8;
	display: block;
	margin: 30px 0px;
}

.retrieve-alert > p
{
	font-size: 20px;
	margin-bottom: 0px;
}

.retrieve-alert > span
{
	font-size: 20px;
	display: block;
	padding-bottom: 20px;
}

.retrieve-alert > input[type=submit]
{
	font-size: 20px;
	margin: 0px 5px;
	width: 100px;
}

.retrieve-alert > button
{
	font-size: 20px;
	margin: 0px 5px;
	width: 100px;
}

.form > p
{
	font-size: 21px;
	color: #51d487;
}

.form-col-1
{
	display: inline-flex;
	width: 100%;
}

.form-col-1 > *
{
	width: 100%;
}

.form-col-2
{
	display: inline-flex;
	width: 100%;
}

.form-col-2 > *
{
	width: 50%;
}

.form-col-3
{
	display: inline-flex;
	width: 100%;
}

.form-col-3 > *
{
	width: 33.33%;
}

.form-col-4
{
	display: inline-flex;
	width: 100%;
}

.form-col-4 > *
{
	width: 25%;
}

.form-col-1 > *, .form-col-2 > *, .form-col-3 > *, .form-col-4 > *
{
	padding-left: 18px;
	padding-right: 18px;
	height: 120px;
	position: relative;
}

.form-col-1 > div > p, .form-col-2 > div > p, .form-col-3 > div > p, .form-col-4 > div > p
{
	padding-bottom: 12px;
}

.form-col-1 > div > span:last-child, .form-col-2 > div > span:last-child, .form-col-3 > div > span:last-child, .form-col-4 > div > span:last-child
{
	font-size: 13px;
	display: none;
}

.form-body
{
	background-color: #FFFFFF;
	overflow: hidden;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.form-body > p
{
	background-color: #51d487;
	color: #FFFFFF;
	padding: 18px;
	font-size: 18px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 25px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.form-footer
{
	padding: 18px;
	padding-bottom: 40px;
	text-align: right;
}

.form-footer > input[type=submit]
{
	display: none;
}

.form-tabs
{
	display: inline-flex;
	vertical-align: top;
	justify-content: flex-end;
	width: 100%;
}

.form-tabs > span
{
	cursor: pointer;
	vertical-align: top;
	background-color: #51d487;
	color: #FFFFFF;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 43px;
	filter: brightness(80%);
	margin-top: 5px;
	font-size: 18px;
}

.form-tabs > .form-active-tab
{
	filter: brightness(100%);
	padding-top: 12px;
	padding-bottom: 12px;
	height: 48px;
	margin-top: 0px;
}

.table-view-control
{
	background-color: #FFFFFF;
	padding: 50px !important;
	padding-left: 50px;
	padding-right: 50px;
}

.form-tabs ~ div
{
	padding-top: 25px;
}

.form-modal
{
	width: 1000px;
	min-height: 350px;
	background-color: #FFFFFF;
	margin: auto;
	margin-top: calc((100vh - 430px)/2);
	border-radius: 5px;
	text-align: left;
	overflow: hidden;
	display: none;
}

.modal-head
{
	border-bottom: 1px solid #dee2e6;
	height: 60px;
}

.modal-head > button
{
	float: right;
	background: none;
	border: none;
	font-weight: 700;
	font-family: Arial;
	font-size: 30px;
	padding: 7px 15px;
	outline: none;
}

.modal-head > span
{
	font-size: 18px;
	padding: 16px;
	display: inline-block;
}

.modal-head > button:hover
{
	color: #627077;
}

.modal-cont
{
	padding: 15px 0px;
	max-height: 330px;
	overflow: scroll;
	overflow-x: hidden;
	overflow: auto;
}

.modal-cont > div:not(:last-child)
{
	height: 110px;
}

.modal-cont > div > p
{
	margin-bottom: 10px;
}

.modal-cont > div > span:not(.ui-selectmenu-button)
{
	font-size: 13px;
	display: none;
}

.modal-foot
{
	text-align: right;
	padding: 12px;
	border-top: 1px solid #dee2e6;
}

.modal-foot > input[type=submit]
{
	display: none;
}

.form-modal .form-col-1 > *, form-modal .form-col-2 > *, form-modal .form-col-3 > *, form-modal .form-col-4 > *
{
	height: 110px;
}

.form-modal .form-col-1 > div > p, form-modal .form-col-2 > div > p, form-modal .form-col-3 > div > p, form-modal .form-col-4 > div > p
{
	padding-bottom: 0px;
	margin-bottom: 10px;
}

.form-modal .form-col-1 > div > span:last-child, form-modal .form-col-2 > div > span:last-child, form-modal .form-col-3 > div > span:last-child, form-modal .form-col-4 > div > span:last-child
{
	font-size: 13px;
	display: none;
}

@-webkit-keyframes blow 
{
	0% 
	{
	-webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 0.5);
	transform: scale3d(1, 1, 0.5); 
	}
	50% 
	{
	-webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 0.5);
	transform: scale3d(1, 1, 0.5); 
	}
	100% 
	{
	-webkit-box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
	opacity: 0;
	-webkit-transform: scale3d(1, 1, 0.5);
	transform: scale3d(1, 1, 0.5); 
	}
}

@keyframes blow 
{
	0% 
	{
	-webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 0.5);
	transform: scale3d(1, 1, 0.5); 
	}
	50% 
	{
	-webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 0.5);
	transform: scale3d(1, 1, 0.5); 
	}
	100% 
	{
	-webkit-box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
	opacity: 0;
	-webkit-transform: scale3d(1, 1, 0.5);
	transform: scale3d(1, 1, 0.5); 
	} 
}

.template
{
	display: none;
}