.resourse-pool > p
{
    color: #51d487;
    font-size: 21px;
}

.resourse-pool-header
{
    display: flex;
    flex: 1 1 0px;
}

.resourse-pool-header > div
{
    width: 100%;
    padding-right: 10px;
}