.master-sidebar
{
    display: none;
}

.master-body-header
{
    display: none;
}

.master-body
{
    width: 100%;
}

.master-body-content
{
    width: 100%;
    min-height: 100vh;
	height: auto;
}

.setup
{
    width: 1000px;
    margin: 0 auto;
	padding-bottom: 50px;
}

.setup > p
{
    font-size: 21px;
    padding: 10px 0px;
}

.setup-body
{
    background-color: #FFFFFF;
    padding: 40px 25px;
}

.setup .wizard .steps ul
{
    display: flex;
}

.setup .wizard .steps ul > li
{
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
}

.setup .wizard .steps ul > li:after
{
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #51d487;
    top: 25px;
    right: 0;
    z-index: 9;
}

.setup .wizard .steps ul > li:before
{
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #51d487;
    top: 25px;
    left: 0;
    z-index: 9;
}

.setup .wizard .steps ul > li > a
{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

.setup .wizard .steps ul > li > a > .number
{
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: 3px solid #51d487;
    border-radius: 50%;
    font-size: 20px;
    line-height: 42px;
    color: #51d487;
    z-index: 10;
    position: relative;
    background-color: #FFFFFF;
    margin-bottom: 10px;
}

.setup .wizard .steps ul > .disabled:before
{
    background-color: #F3F3F3;
}

.setup .wizard .steps ul > .disabled:after
{
    background-color: #F3F3F3;
}

.setup .wizard .steps ul > .disabled > a > .number
{
    border: 3px solid #F3F3F3;
    color: #F3F3F3;
}

.setup .wizard .steps ul > .disabled > a
{
    color: rgba(84, 102, 122, 0.5);
}

.setup .wizard .steps ul > .current:after
{
    background-color: #F3F3F3;
}

.setup .wizard .steps ul > .current ~ li:after
{
    background-color: #F3F3F3;
}

.setup .wizard .steps ul > .current ~ li:before
{
    background-color: #F3F3F3;
}

.setup .wizard .steps ul > .current > a > .number
{
    border: 3px solid #51d487;
    color: #51d487;
}

.setup .wizard .steps ul > .current > a
{
    color: #54667a;
}

.setup .wizard .steps ul > .done > a > .number
{
    background-color: #51d487;
    color: #FFFFFF;
}

.setup .wizard .steps ul > .done > a
{
    color: rgba(84, 102, 122, 0.5);
}

.setup .wizard .steps ul > .first:before
{
    display: none;
}

.setup .wizard .steps ul > .last:after
{
    display: none;
}

.setup .wizard .actions
{
    text-align: right;
}

.setup .wizard .actions ul li
{
    display: inline-block;
}

.setup .wizard .actions ul li a[href="#previous"]
{
	font-size: 14px;
	padding: 8px 10px;
	border-radius: 3px;
	cursor: pointer;
	outline: none;
	margin: 0px 5px;
    background-color: #FFFFFF;
    border: 1px solid #d9d9d9;
    color: #54667a;
    display: inline-block;
    text-decoration: none;
}

.setup .wizard .actions ul li a[href="#next"]
{
	font-size: 14px;
	padding: 8px 10px;
	border-radius: 3px;
	cursor: pointer;
	outline: none;
	margin: 0px 5px;
    background-color: #009efb;
    border: 1px solid #009efb;
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
}

.setup .wizard .actions ul li a[href="#finish"]
{
	font-size: 14px;
	padding: 8px 10px;
	border-radius: 3px;
	cursor: pointer;
	outline: none;
	margin: 0px 5px;
    background-color: #51d487;
    border: 1px solid #51d487;
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
}

.setup .wizard .content
{
    padding-top: 20px;
}

.setup .wizard .content h3
{
    display: none;
}

.setup-body > span
{
    font-size: 14px;
    display: block;
    margin-bottom: 20px;
    padding: 0px 18px;
}

.educational-form-control
{
	padding: 20px 15px;
	text-align: right;
}

.education-item:not(:first-of-type)
{
	border-top: 1px solid #ced4da;
}

.education-item > button
{
	float: right;
	background-color: transparent;
	border: none;
	font-weight: 700;
	font-size: 25px;
	height: 40px;
	width: 40px;
	outline: none;
}

.setup > input[type=submit]
{
	display: none;
}